<app-modal [modalTitle]="modalTitle" [modalType]="'auth'">
  <!-- Tabs -->
  <ul class="flex flex-wrap mb-4">
    <li class="flex-auto text-center">
      <a
        class="block rounded py-3 px-4 transition duration-700 hover:text-white text-white cursor-pointer"
        [ngClass]="{'bg-indigo-400': isLoginForm}"
        (click)="openLoginTab()"
        >Login</a
      >
    </li>
    <li class="flex-auto text-center">
      <a
        class="block rounded py-3 px-4 transition duration-700 hover:text-indigo-400 cursor-pointer"
        [ngClass]="{'bg-indigo-400': !isLoginForm}"
        (click)="openRegisterTab()"
        >Register</a
      >
    </li>
  </ul>

  <app-login *ngIf="isLoginForm"></app-login>
  <app-register *ngIf="!isLoginForm"></app-register>
</app-modal>
